#nav {
    text-align: left;
}

#loginInputs{
    margin-top: 2%;
    display:inline-block;
    

}

.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    margin:1%;
    width:75%;
}

.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin: 1%;
}